venv/
.tox/
__pycache__/
.mypy_cache/
config.py
.vscode/
last_*
used_*
*.log
most_interacted.json
statuses_cache.*
/.idea/.gitignore
/.noai
/.idea/as-a-treat.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
